@import "./common/color.scss";

*{
    list-style: none;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

a {
    color: $font-primary;
}


body {
    background: $primary-color;
}

.container {
    margin: 0px 40px;
}